/*img { max-width: 100%; }*/
/*img { width: 100%; } Used for IE-specific style sheet.*/
head, body {
    height: 100%;
}

body {
    background: #ddd;
}
 @media all and (max-width: 420px) {
     section, aside {
         float: none;
         width: auto;
     }
 }

.container {
    /*display: flex;*/
    width: 538px;
}

section, aside {
    /*margin: 10px;*/
    margin: 1.858736059%; /* 10px/538px = .018587361*/
}

@media all and (min-width: 420px) {
    .container {
        max-width: 538px;
    }
}

section {
    background: #008000;
    float: left;
    /*width: 340px;*/
    width:63.197026%; /* 340px/538px = .631970268*/
    color: snow;
    height: 50%;
}

aside {
    background: #00F;
    float: right;
    /*width: 158px;*/
    width: 29.3680297%; /*158px/538px = .293680297*/
    height: 50%;
    color: snow;
}

        /*@media rule
    @media all and (max-width: 1024px) {}

      /*@import Rule
    @import url(styles.css) all and (max-width: 1027px); {}

       /*and logical operator
    @media all and (min-width: 800px) and (max-width: 1024px) {}

      /*not logical operator
    @media and screen and (color) {}

    /*only logical operator
@media only screen and (orientation: portrait) {}

    /*Height and width media features*
@media all and (min-width: 320px) and (max-width: 780px) {}

    /*Orientation Media Feature   
@media all and (oreintation: landscape) {}

     /*Aspect Ratio Media Features
@media all and (min-device-aspect-ratio: 16/9) {}

     /*Pixel Ratio Media Features
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-device-pixel-ratio: 1.3) {}

    /*Resolution Media Feature
@media print and (min-resloution: 300dpi) {}
/*Confused on this one Shay howe says this feature doesn;t except min-max prefixes, yet it's in the code example.....How sway?
 Figured it out! */

/* Default styles firat then media queries*/
@media screen and (min-width: 400px) {}
@media screen and (min-width: 600px) {}
@media screen and (min-width: 1000px) {}
@media screen and (min-width: 1400px) {}

 /*Default Media*/
 body {
     background: #ddd;
 }    

 /*Media for larger devices*/
 @media screen and (min-width: 800px) {
     bodyn{
         background-image: url("bg.png") 50% 50% no-repeat;
     }
 }
/*viewport CSS styling*/
 @viewport {
     width: device-width;
     zoom: 1;
 }