/*img { max-width: 100%; }*/
/*img { width: 100%; } Used for IE-specific style sheet.*/
.container {
    width: 538px;
}

section, aside {
    /*margin: 10px;*/
    margin: 1.858736059%; /* 10px/538px = .018587361*/
}

section {
    float: left;
    /*width: 340px;*/
    width:63.197026%; /*340px/538px = .631970268*/
    background-color: darkblue;
    color: snow;
}

aside {
    float: right;
    /*width: 158px;*/
    width: 29.3680297%; /*158px/538px = .293680297*/
    background-color: darkslateblue;
    color: snow;
}

      /*@media rule*/
    @media all and (max-width: 1024px); {}

      /*@import Rule*/
    @import url(styles.css) all and (max-width: 1027px); {}

       /*and logical operator*/
    @media all and (min-width: 800px) and (max-width: 1024px); {}

      /*not logical operator*/
    @media and screen and (color); {}

    /*only logical operator*/
@media onlr screen and (orientation: portrait); {}

